<div class="row-fluid">

    <form class="form-horizontal span12">
        <fieldset>

            <legend>Sessão do Tratamento do Paciente </legend>

            <div class="row" style="padding: 0px 10px;">
                <div class="span8">
                    <section style="float: left; width: 48%">
                    <div class="control-group">
                        <label for="name" class="control-label">Tipo de Sessão:</label>

                        <div class="controls">
                            <select class="form-control" id="typeSession" name="typeSession" value="<%= typeSession %>">
                                <option <%= typeSession === 'SESSAO' ? 'selected' : '' %>>SESSAO</option>
                                <option <%= typeSession === 'AVALIACAO' ? 'selected' : '' %>>AVALIACAO</option>
                                <option <%= typeSession === 'TRIAGEM' ? 'selected' : '' %>>TRIAGEM</option>
                            </select>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="name" class="control-label">Modalidade de Atendimento:</label>

                        <div class="controls">
                            <select class="form-control" id="typeService" name="typeService" value="<%= typeService %>">
                                <option <%= typeService === 'INDIVIDUAL' ? 'selected' : '' %>>INDIVIDUAL</option>
                                <option <%= typeService === 'EM GRUPO' ? 'selected' : '' %>>EM GRUPO</option>
                            </select>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="name" class="control-label">Aluno:</label>
                        <!-- DIV ALUNOS -->
                        <div id="divAlunos" class="controls">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="name" class="control-label">Professor:</label>
                        <!-- DIV PROFESSORES -->
                        <div id="divProfessores" class="controls">
                        </div>
                    </div>
                    <article style="float: left; width: 48%">
                    <div class="control-group">
                        <label for="grapes" class="control-label">Data de Agendamento Início:</label>

                        <div class="controls">
                            <input type="text" class="form-control" id="dateSchedulingStart" name="dateSchedulingStart" value="<%= dateSchedulingStart === null ? '' : formattedDateTime(dateSchedulingStart) %>" data-date-format="dd/mm/yyyy hh:ii" readonly>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    </article>
                    <article style="float: right; width: 49%">
                    <div class="control-group">
                        <label for="grapes" class="control-label">Data de Agendamento Fim:</label>

                        <div class="controls">
                            <input type="text" class="form-control" id="dateSchedulingEnd" name="dateSchedulingEnd" value="<%= dateSchedulingEnd === null ? '' : formattedDateTime(dateSchedulingEnd) %>" data-date-format="dd/mm/yyyy hh:ii" readonly/>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    </article>
                    <article style="float: left; width: 100%; <%= _id === null ? 'display: none' : '' %>" >
                        <input type="checkbox" id="canceledSession" style="display: none" name="canceledSession" <%= canceledSession ? 'checked="checked"' : '' %> >
                        <button type="button" class="btn btn-large" id="btnSessaoCancelada" name="canceledSession" style="width: 100%; margin-top: 25px; <%= canceledSession ? '' : 'display: none' %>">Esta Sessão foi Cancelada !</button>
                        <button type="button" id="btnSessaoRealizada" name="everHeld" <%= everHeld ? '' : 'onclick="realizarSessao(false);"' %> class=" btn"style="width: 100%; margin-top: 25px; <%= everHeld ? '' : 'display: none' %>">Sessão já Realizada !</button>
                    </article>
                    <article style="float: left; width: 48%; <%= _id === null || canceledSession ? 'display: none' : '' %>">
                        <input type="checkbox" id="everHeld" style="display: none" name="everHeld" <%= everHeld ? 'checked="checked"' : '' %> >
                        <button type="button" id="btnSessaoNaoRealizada" name="everHeld" onclick="realizarSessao(true);" class="btn btn-primary btn-large" style="width: 100%; margin-top: 25px; <%= everHeld ? 'display: none' : '' %>" >Sessão já Realizada ?</button>
                    </article>
                    <article style="float: right; width: 48%; <%= _id === null || canceledSession ? 'display: none' : '' %>">
                        <button type="button" id="btnSessaoNaoCancelada" name="canceledSession" onclick="cancelarSessao(true);" class="btn btn-primary btn-large" style="width: 100%; margin-top: 25px; <%= canceledSession || everHeld ? 'display: none' : '' %>">Cancelar Sessão ?</button>
                    </article>
                    </section>
                    
                    <section style="float: right; width: 48%;">
                    <article style="float: left; width: 100%">
                    <div class="control-group">
                        <label for="name" class="control-label">Observações:</label>

                        <div class="controls">
                            <textarea class="form-control" id="observations" name="observations" maxlength="3000" style="height: 278px"><%= observations === null ? '' : observations %></textarea>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    </article>

                    <article style="float: left; width: 48%">
                    <div class="control-group">
                        <label for="grapes" class="control-label">Data Inclusão:</label>

                        <div class="controls">
                            <input type="text" class="form-control" id="dateInclusion" name="dateInclusion" value="<%= dateInclusion == null ? '' : formattedDate(dateInclusion) %>" readonly/>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    </article>
                    <article style="float: right; width: 49%">
                    <div class="control-group">
                        <label for="grapes" class="control-label">Data Alteração:</label>

                        <div class="controls">
                            <input type="text" class="form-control" id="dateUpdate" name="dateUpdate" value="<%= dateUpdate === null ? '' : formattedDateTime(dateUpdate) %>" readonly/>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    </article>
                    </section>
                </div>
            </div>

        </fieldset>
        <div class="footer">
            <button type="button" class="btn btn-primary btn-large save" <%= canceledSession || everHeld ? 'style="display: none"' : '' %>>Salvar</button>
            <button type="button" class="btn" onclick="back();">Cancelar</button>
        </div>

    </form>

</div>

    <div id="delSession" class="modal container hide fade" tabindex="-1" style="width: 500px; margin-left: -250px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Excluir Sessão ?</h3>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Cancelar</button>
    <button type="button" data-dismiss="modal" class="btn btn-primary btn-large delete">Sim</button>
  </div>
  <br/>
</div>
<br />
<div class="row-fluid status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Session saved successfully
        </div>
    </div>
</div>



<script type="text/javascript">

    function back()
    {
        history.back(1);
    }

    function realizarSessao(realizar) {

        if (realizar) {
            $('#everHeld').attr('checked', 'checked');
            $('#btnSessaoRealizada').show();
            $('#btnSessaoNaoRealizada').hide();
            $('#btnSessaoNaoCancelada').hide();
        }
        else {
            $('#everHeld').removeAttr('checked');
            $('#btnSessaoRealizada').hide();
            $('#btnSessaoNaoRealizada').show();
            $('#btnSessaoNaoCancelada').show();
        }
    }

    function cancelarSessao(cancelar) {

        if (cancelar) {
            $('#canceledSession').attr('checked', 'checked');
            $('#btnSessaoCancelada').show();
            $('#btnSessaoNaoCancelada').hide();
            $('#btnSessaoRealizada').hide();
            $('#btnSessaoNaoRealizada').hide();
        }
    }

	</script>